.add-new-partner {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Noto Sans", sans-serif;
  max-width: 600px;
  margin: 0 auto; /* classic horizontal centering */
}
.add-new-partner-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-new-partner h2 {
  font-size: 20px;
  font-weight: 600;
  color: #171717;
}

.add-new-section,
.partner-section,
.favourites-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #ccc;
  padding: 16px;
}

label {
  color: var(
    --input-field-form-text-area-text-title,
    var(--colors-neutral-700, #404040)
  );
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
legend {
  color: var(--Text-primary, var(--colors-neutral-900, #171717));

  /* text-base-16/medium */
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px; /* 150% */
}

input,
select,
button {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 600;
}

button:hover {
  background-color: #005fa3;
}
